## Set-up.
### Libraries

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [37]:
#! cd ..
! pip freeze > '../reqirements.txt'

### Global variebles

In [2]:
DATA_PATH = '../dataset/'

In [21]:
! cat ../dataset/Train.csv | head

ID,age,gender,education,class,education_institute,marital_status,race,is_hispanic,employment_commitment,unemployment_reason,employment_stat,wage_per_hour,is_labor_union,working_week_per_year,industry_code,industry_code_main,occupation_code,occupation_code_main,total_employed,household_stat,household_summary,under_18_family,veterans_admin_questionnaire,vet_benefit,tax_status,gains,losses,stocks_status,citizenship,mig_year,country_of_birth_own,country_of_birth_father,country_of_birth_mother,migration_code_change_in_msa,migration_prev_sunbelt,migration_code_move_within_reg,migration_code_change_in_reg,residence_1_year_ago,old_residence_reg,old_residence_state,importance_of_record,income_above_limit
ID_TZ0000,79, Female, High school graduate,,, Widowed, White, All other, Not in labor force,,0,0,,52,0, Not in universe or children,0,,2, Householder, Householder,,,2, Head of household,0,0,292,Native,95,US,US,US, ?, ?, ?, ?,,,,1779.74,Below limit
ID_TZ0001,65, Female, High school graduate,,, Widowed, White, All other, Children or Armed Forces,,0,0,,0,0, Not in universe or children,0,,0, Nonfamily householder, Householder,,,2, Single,0,0,0,Native,94,US,US,US,unchanged,,unchanged,unchanged,Same,,,2366.75,Below limit
ID_TZ0002,21, Male, 12th grade no diploma, Federal government,, Never married, Black, All other, Children or Armed Forces,,0,500, No,15,41, Hospital services,26, Adm support including clerical,4, Child 18+ never marr Not in a subfamily, Child 18 or older,,,2, Single,0,0,0,Native,94,US,US,US,unchanged,,unchanged,unchanged,Same,,,1693.42,Below limit
ID_TZ0003,2, Female, Children,,, Never married, Asian or Pacific Islander, All other, Children or Armed Forces,,0,0,,0,0, Not in universe or children,0,,0, Child <18 never marr not in subfamily, Child under 18 never married, Both parents present,,0, Nonfiler,0,0,0,Native,94,US, India, India,unchanged,,unchanged,unchanged,Same,,,1380.27,Below limit
ID_TZ0004,70, Male, High school graduate,,, Married-civilian spouse present, White, All other, Not in labor force,,0,0,,0,0, Not in universe or children,0,,0, Spouse of householder, Spouse of householder,,,2, Joint both 65+,0,0,0,Native,95,US,US,US, ?, ?, ?, ?,,,,1580.79,Below limit
ID_TZ0005,45, Male, Bachelors degree(BA AB BS), Private,, Married-civilian spouse present, Asian or Pacific Islander, All other, Children or Armed Forces,,0,825, No,52,33, Retail trade,31, Other service,6, Householder, Householder,,,2, Joint both under 65,0,0,0, Foreign born- Not a citizen of U S ,94, ?, ?, ?,unchanged,,unchanged,unchanged,Same,,,4438.27,Below limit
ID_TZ0006,53, Male, High school graduate, Private,, Married-civilian spouse present, White, All other, Full-time schedules,,0,0, No,52,33, Retail trade,2, Executive admin and managerial,6, Spouse of householder, Spouse of householder,,,2, Joint both under 65,0,0,0,Native,95,US,US,US, ?, ?, ?, ?,,,,1401.23,Below limit
ID_TZ0007,22, Female, High school graduate, Private,, Married-civilian spouse present, White, All other, Full-time schedules,,0,0,,52,35, Finance insurance and real estate,17, Sales,1, Spouse of householder, Spouse of householder,,,2, Joint both under 65,0,0,0,Native,95,US,US,US, ?, ?, ?, ?,,,,661.07,Below limit
ID_TZ0008,73, Female, 7th and 8th grade,,, Married-civilian spouse present, Black, All other, Not in labor force,,0,0,,1,0, Not in universe or children,0,,3, Spouse of householder, Spouse of householder,,,2, Joint both 65+,0,0,0,Native,95,US,US,US, ?, ?, ?, ?,,,,1267.3,Below limit
cat: stdout: Broken pipe

In [3]:
data = pd.read_csv(os.path.join(DATA_PATH,'Train.csv'))

In [4]:
data.head()

,ID,age,gender,education,class,education_institute,marital_status,race,is_hispanic,employment_commitment,...,country_of_birth_mother,migration_code_change_in_msa,migration_prev_sunbelt,migration_code_move_within_reg,migration_code_change_in_reg,residence_1_year_ago,old_residence_reg,old_residence_state,importance_of_record,income_above_limit
0,ID_TZ0000,79,Female,High school graduate,NaN,NaN,Widowed,White,All other,Not in labor force,...,US,?,?,?,?,NaN,NaN,NaN,1779.74,Below limit
1,ID_TZ0001,65,Female,High school graduate,NaN,NaN,Widowed,White,All other,Children or Armed Forces,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,2366.75,Below limit
2,ID_TZ0002,21,Male,12th grade no diploma,Federal government,NaN,Never married,Black,All other,Children or Armed Forces,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1693.42,Below limit
3,ID_TZ0003,2,Female,Children,NaN,NaN,Never married,Asian or Pacific Islander,All other,Children or Armed Forces,...,India,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1380.27,Below limit
4,ID_TZ0004,70,Male,High school graduate,NaN,NaN,Married-civilian spouse present,White,All other,Not in labor force,...,US,?,?,?,?,NaN,NaN,NaN,1580.79,Below limit

## Analysis of columns

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209499 entries, 0 to 209498
Data columns (total 43 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID                              209499 non-null  object
 1   age                             209499 non-null  int64
 2   gender                          209499 non-null  object
 3   education                       209499 non-null  object
 4   class                           104254 non-null  object
 5   education_institute             13302 non-null   object
 6   marital_status                  209499 non-null  object
 7   race                            209499 non-null  object
 8   is_hispanic                     209499 non-null  object
 9   employment_commitment           209499 non-null  object
 10  unemployment_reason             6520 non-null    object
 11  employment_stat                 209499 non-null  int64
 12  wage_per_hour                   209499 non-null  int64
 13  is_labor_union                  20079 non-null   object
 14  working_week_per_year           209499 non-null  int64
 15  industry_code                   209499 non-null  int64
 16  industry_code_main              209499 non-null  object
 17  occupation_code                 209499 non-null  int64
 18  occupation_code_main            103805 non-null  object
 19  total_employed                  209499 non-null  int64
 20  household_stat                  209499 non-null  object
 21  household_summary               209499 non-null  object
 22  under_18_family                 57845 non-null   object
 23  veterans_admin_questionnaire    2084 non-null    object
 24  vet_benefit                     209499 non-null  int64
 25  tax_status                      209499 non-null  object
 26  gains                           209499 non-null  int64
 27  losses                          209499 non-null  int64
 28  stocks_status                   209499 non-null  int64
 29  citizenship                     209499 non-null  object
 30  mig_year                        209499 non-null  int64
 31  country_of_birth_own            209499 non-null  object
 32  country_of_birth_father         209499 non-null  object
 33  country_of_birth_mother         209499 non-null  object
 34  migration_code_change_in_msa    207911 non-null  object
 35  migration_prev_sunbelt          121047 non-null  object
 36  migration_code_move_within_reg  207911 non-null  object
 37  migration_code_change_in_reg    207911 non-null  object
 38  residence_1_year_ago            103215 non-null  object
 39  old_residence_reg               16351 non-null   object
 40  old_residence_state             16351 non-null   object
 41  importance_of_record            209499 non-null  float64
 42  income_above_limit              209499 non-null  object
dtypes: float64(1), int64(12), object(30)
memory usage: 68.7+ MB

In [6]:
data.drop('ID', axis=1, inplace=True)

In [7]:
cat_col = data.columns[data.dtypes==np.object_]
num_col = data.columns[data.dtypes!=np.object_]

In [8]:
num_col

Index(['age', 'employment_stat', 'wage_per_hour', 'working_week_per_year',
       'industry_code', 'occupation_code', 'total_employed', 'vet_benefit',
       'gains', 'losses', 'stocks_status', 'mig_year', 'importance_of_record'],
      dtype='object')

In [9]:
for i in num_col:
    print(f'Variable: {i}\n'
          f'Min {np.min(data[i])}; Max {np.max(data[i])}; Average {np.average(data[i])}; NAN {np.sum(data[i].isna())}; 0-value {np.sum(data[i]==0)}.')

Variable: age
Min 0; Max 90; Average 34.518728013021544; NAN 0; 0-value 3041.
Variable: employment_stat
Min 0; Max 2; Average 0.17675979360283342; NAN 0; 0-value 189556.
Variable: wage_per_hour
Min 0; Max 9999; Average 55.43348655602175; NAN 0; 0-value 197643.
Variable: working_week_per_year
Min 0; Max 52; Average 23.158850400240574; NAN 0; 0-value 100688.
Variable: industry_code
Min 0; Max 51; Average 15.33239776800844; NAN 0; 0-value 105694.
Variable: occupation_code
Min 0; Max 46; Average 11.321734232621635; NAN 0; 0-value 105694.
Variable: total_employed
Min 0; Max 6; Average 1.9560666160697664; NAN 0; 0-value 100688.
Variable: vet_benefit
Min 0; Max 2; Average 1.515854490952224; NAN 0; 0-value 49672.
Variable: gains
Min 0; Max 99999; Average 435.9268874791765; NAN 0; 0-value 201669.
Variable: losses
Min 0; Max 4608; Average 36.88173690566542; NAN 0; 0-value 205437.
Variable: stocks_status
Min 0; Max 99999; Average 194.53342020725637; NAN 0; 0-value 187467.
Variable: mig_year
Min 94; Max 95; Average 94.49974462885264; NAN 0; 0-value 0.
Variable: importance_of_record
Min 37.87; Max 18656.3; Average 1740.8883235242172; NAN 0; 0-value 0.

In [10]:
for i in num_col:
    print(f'Variable: {i}\n'
          f'Min {np.min(data[i])} Max {np.max(data[i])} Average {np.average(data[i])}.')

Variable: age
Min 0 Max 90 Average 34.518728013021544.
Variable: employment_stat
Min 0 Max 2 Average 0.17675979360283342.
Variable: wage_per_hour
Min 0 Max 9999 Average 55.43348655602175.
Variable: working_week_per_year
Min 0 Max 52 Average 23.158850400240574.
Variable: industry_code
Min 0 Max 51 Average 15.33239776800844.
Variable: occupation_code
Min 0 Max 46 Average 11.321734232621635.
Variable: total_employed
Min 0 Max 6 Average 1.9560666160697664.
Variable: vet_benefit
Min 0 Max 2 Average 1.515854490952224.
Variable: gains
Min 0 Max 99999 Average 435.9268874791765.
Variable: losses
Min 0 Max 4608 Average 36.88173690566542.
Variable: stocks_status
Min 0 Max 99999 Average 194.53342020725637.
Variable: mig_year
Min 94 Max 95 Average 94.49974462885264.
Variable: importance_of_record
Min 37.87 Max 18656.3 Average 1740.8883235242172.

In [11]:
for i in cat_col:
    print(f'Variable {i}; NAN - {np.sum(data[i].isna())}')
    display(data[i].value_counts())

Variable gender; NAN - 0

gender
Female    108784
Male      100715
Name: count, dtype: int64

Variable education; NAN - 0

education
High school graduate                      50627
Children                                  49685
Some college but no degree                29320
Bachelors degree(BA AB BS)                20979
7th and 8th grade                          8438
10th grade                                 7905
11th grade                                 7260
Masters degree(MA MS MEng MEd MSW MBA)     6861
9th grade                                  6540
Associates degree-occup /vocational        5650
Associates degree-academic program         4494
5th or 6th grade                           3542
12th grade no diploma                      2282
1st 2nd 3rd or 4th grade                   1917
Prof school degree (MD DDS DVM LLB JD)     1852
Doctorate degree(PhD EdD)                  1318
Less than 1st grade                         829
Name: count, dtype: int64

Variable class; NAN - 105245

class
Private                           75617
Self-employed-not incorporated     8957
Local government                   8093
State government                   4480
Self-employed-incorporated         3444
Federal government                 3047
Never worked                        449
Without pay                         167
Name: count, dtype: int64

Variable education_institute; NAN - 196197

education_institute
High school              7247
College or university    6055
Name: count, dtype: int64

Variable marital_status; NAN - 0

marital_status
Never married                      90723
Married-civilian spouse present    88407
Divorced                           13456
Widowed                            11029
Separated                           3596
Married-spouse absent               1568
Married-A F spouse present           720
Name: count, dtype: int64

Variable race; NAN - 0

race
White                          175709
Black                           21394
Asian or Pacific Islander        6056
Other                            3927
Amer Indian Aleut or Eskimo      2413
Name: count, dtype: int64

Variable is_hispanic; NAN - 0

is_hispanic
All other                    180404
Mexican-American               8509
Mexican (Mexicano)             7614
Central or South American      4176
Puerto Rican                   3435
Other Spanish                  2612
Cuban                          1231
NA                              882
Chicano                         331
Do not know                     305
Name: count, dtype: int64

Variable employment_commitment; NAN - 0

employment_commitment
Children or Armed Forces              129789
Full-time schedules                    42787
Not in labor force                     28187
PT for non-econ reasons usually FT      3549
Unemployed full-time                    2538
PT for econ reasons usually PT          1243
Unemployed part- time                    866
PT for econ reasons usually FT           540
Name: count, dtype: int64

Variable unemployment_reason; NAN - 202979

unemployment_reason
Other job loser          2242
Re-entrant               2154
Job loser - on layoff    1050
Job leaver                625
New entrant               449
Name: count, dtype: int64

Variable is_labor_union; NAN - 189420

is_labor_union
 No     16968
Same     3111
Name: count, dtype: int64

Variable industry_code_main; NAN - 0

industry_code_main
Not in universe or children            105694
Retail trade                            18040
Manufacturing-durable goods              9336
Education                                8739
Manufacturing-nondurable goods           7232
Construction                             6414
Finance insurance and real estate        6336
Business and repair services             6021
Medical except hospital                  4934
Public administration                    4706
Other professional services              4627
Transportation                           4419
Hospital services                        4088
Wholesale trade                          3846
Agriculture                              3157
Personal services except private HH      3056
Social services                          2677
Entertainment                            1779
Communications                           1260
Utilities and sanitary services          1238
Private household services               1028
Mining                                    639
Forestry and fisheries                    201
Armed Forces                               32
Name: count, dtype: int64

Variable occupation_code_main; NAN - 105694

occupation_code_main
Adm support including clerical           15351
Professional specialty                   14544
Executive admin and managerial           13107
Other service                            12856
Sales                                    12487
Precision production craft & repair      11207
Machine operators assmblrs & inspctrs     6650
Handlers equip cleaners etc               4340
Transportation and material moving        4244
Farming forestry and fishing              3273
Technicians and related support           3136
Protective services                       1700
Private household services                 878
Armed Forces                                32
Name: count, dtype: int64

Variable household_stat; NAN - 0

household_stat
Householder                                        56195
Child <18 never marr not in subfamily              52707
Spouse of householder                              43579
Nonfamily householder                              23255
Child 18+ never marr Not in a subfamily            12784
Secondary individual                                6509
Other Rel 18+ ever marr not in subfamily            2071
Grandchild <18 never marr child of subfamily RP     1942
Other Rel 18+ never marr not in subfamily           1781
Grandchild <18 never marr not in subfamily          1109
Child 18+ ever marr Not in a subfamily              1029
Child under 18 of RP of unrel subfamily              747
RP of unrelated subfamily                            723
Other Rel 18+ spouse of subfamily RP                 697
Child 18+ ever marr RP of subfamily                  691
Other Rel 18+ ever marr RP of subfamily              679
Other Rel <18 never marr child of subfamily RP       654
Other Rel <18 never marr not in subfamily            627
Child 18+ never marr RP of subfamily                 619
Grandchild 18+ never marr not in subfamily           401
In group quarters                                    185
Child 18+ spouse of subfamily RP                     137
Other Rel 18+ never marr RP of subfamily             109
Child <18 never marr RP of subfamily                  80
Spouse of RP of unrelated subfamily                   58
Grandchild 18+ ever marr not in subfamily             39
Child <18 ever marr not in subfamily                  37
Grandchild 18+ spouse of subfamily RP                 11
Child <18 ever marr RP of subfamily                   10
Grandchild 18+ ever marr RP of subfamily               8
Other Rel <18 ever marr RP of subfamily                6
Grandchild 18+ never marr RP of subfamily              5
Other Rel <18 ever marr not in subfamily               3
Other Rel <18 never married RP of subfamily            3
Other Rel <18 spouse of subfamily RP                   3
Child <18 spouse of subfamily RP                       2
Grandchild <18 ever marr not in subfamily              2
Grandchild <18 never marr RP of subfamily              2
Name: count, dtype: int64

Variable household_summary; NAN - 0

household_summary
Householder                             79470
Child under 18 never married            52803
Spouse of householder                   43588
Child 18 or older                       15261
Other relative of householder           10157
Nonrelative of householder               8048
Group Quarters- Secondary individual      123
Child under 18 ever married                49
Name: count, dtype: int64

Variable under_18_family; NAN - 151654

under_18_family
Both parents present      40875
Mother only present       13266
Father only present        1962
Neither parent present     1742
Name: count, dtype: int64

Variable veterans_admin_questionnaire; NAN - 207415

veterans_admin_questionnaire
 No     1684
Same     400
Name: count, dtype: int64

Variable tax_status; NAN - 0

tax_status
Nonfiler                        78671
Joint both under 65             70617
Single                          39429
Joint both 65+                   8791
Head of household                7882
Joint one under 65 & one 65+     4109
Name: count, dtype: int64

Variable citizenship; NAN - 0

citizenship
Native                                          185669
 Foreign born- Not a citizen of U S              14127
 Foreign born- U S citizen by naturalization      6208
 Native- Born abroad of American Parent(s)        1924
 Native- Born in Puerto Rico or U S Outlying      1571
Name: count, dtype: int64

Variable country_of_birth_own; NAN - 0

country_of_birth_own
US                               185666
 Mexico                            6082
 ?                                 3667
 Puerto-Rico                       1458
 Philippines                        902
 Cuba                               889
 Germany                            858
 El-Salvador                        744
 Dominican-Republic                 741
 Canada                             741
 China                              508
 South Korea                        488
 England                            473
 Italy                              459
 India                              457
 Columbia                           455
 Poland                             385
 Vietnam                            384
 Guatemala                          373
 Jamaica                            352
 Japan                              350
 Ecuador                            277
 Peru                               277
 Nicaragua                          241
 Haiti                              225
 Taiwan                             193
 Portugal                           178
 Greece                             160
 Honduras                           159
 Iran                               152
 Ireland                            144
 France                             129
 Thailand                           125
 Hong Kong                          116
 Laos                               114
 Outlying-U S (Guam USVI etc)       113
 Cambodia                           104
 Trinadad&Tobago                     81
 Scotland                            80
 Hungary                             80
 Yugoslavia                          71
 Panama                              25
 Holand-Netherlands                  23
Name: count, dtype: int64

Variable country_of_birth_father; NAN - 0

country_of_birth_father
US                               166968
 Mexico                           10517
 ?                                 7181
 Puerto-Rico                       2769
 Italy                             2358
 Dominican-Republic                1397
 Canada                            1396
 Germany                           1386
 Poland                            1262
 Philippines                       1215
 Cuba                              1208
 El-Salvador                       1058
 China                              878
 England                            829
 India                              645
 Columbia                           637
 Ireland                            558
 South Korea                        552
 Jamaica                            493
 Guatemala                          483
 Vietnam                            450
 Japan                              418
 Ecuador                            393
 Greece                             392
 Portugal                           389
 Haiti                              357
 Peru                               349
 Nicaragua                          343
 Hungary                            333
 Scotland                           249
 Iran                               230
 Yugoslavia                         222
 Honduras                           217
 Cambodia                           213
 Taiwan                             191
 France                             188
 Outlying-U S (Guam USVI etc)       166
 Laos                               165
 Trinadad&Tobago                    132
 Thailand                           116
 Hong Kong                          115
 Holand-Netherlands                  52
 Panama                              29
Name: count, dtype: int64

Variable country_of_birth_mother; NAN - 0

country_of_birth_mother
US                               168233
 Mexico                           10326
 ?                                 6516
 Puerto-Rico                       2551
 Italy                             1974
 Canada                            1504
 Germany                           1396
 Philippines                       1302
 Cuba                              1210
 Dominican-Republic                1192
 El-Salvador                       1181
 Poland                            1164
 England                            928
 China                              800
 Ireland                            667
 India                              640
 Columbia                           627
 South Korea                        627
 Japan                              508
 Jamaica                            492
 Guatemala                          481
 Vietnam                            480
 Ecuador                            398
 Peru                               378
 Haiti                              365
 Portugal                           356
 Nicaragua                          339
 Hungary                            328
 Greece                             298
 Scotland                           257
 Honduras                           240
 Taiwan                             222
 France                             213
 Iran                               197
 Yugoslavia                         192
 Cambodia                           178
 Laos                               154
 Outlying-U S (Guam USVI etc)       153
 Thailand                           134
 Hong Kong                          112
 Trinadad&Tobago                    105
 Holand-Netherlands                  51
 Panama                              30
Name: count, dtype: int64

Variable migration_code_change_in_msa; NAN - 1588

migration_code_change_in_msa
 ?                   104696
unchanged             86864
 MSA to MSA           11096
 NonMSA to nonMSA      2903
 MSA to nonMSA          778
 NonMSA to MSA          642
 Not identifiable       436
 Abroad to MSA          417
 Abroad to nonMSA        79
Name: count, dtype: int64

Variable migration_prev_sunbelt; NAN - 88452

migration_prev_sunbelt
 ?      104696
 No      10298
Same      6053
Name: count, dtype: int64

Variable migration_code_move_within_reg; NAN - 1588

migration_code_move_within_reg
 ?                               104696
unchanged                         86864
 Same county                      10196
 Different county same state       2946
 Different state in South          1003
 Different state in West            735
 Different state in Midwest         560
 Abroad                             498
 Different state in Northeast       413
Name: count, dtype: int64

Variable migration_code_change_in_reg; NAN - 1588

migration_code_change_in_reg
 ?                                 104696
unchanged                           86864
 Same county                        10196
 Different county same state         2946
 Different region                    1206
 Different state same division       1018
 Abroad                               498
 Different division same region       487
Name: count, dtype: int64

Variable residence_1_year_ago; NAN - 106284

residence_1_year_ago
Same    86864
 No     16351
Name: count, dtype: int64

Variable old_residence_reg; NAN - 193148

old_residence_reg
South        5056
West         4296
Midwest      3691
Northeast    2810
Abroad        498
Name: count, dtype: int64

Variable old_residence_state; NAN - 193148

old_residence_state
California              1849
Utah                    1104
Florida                  905
North Carolina           836
?                        741
Abroad                   635
Oklahoma                 633
Minnesota                620
Indiana                  565
North Dakota             510
New Mexico               478
Michigan                 443
Alaska                   284
Arizona                  277
Kentucky                 263
New Hampshire            252
Colorado                 251
Oregon                   247
Wyoming                  245
Georgia                  236
West Virginia            234
Ohio                     229
Montana                  225
Alabama                  221
Texas                    213
Arkansas                 212
New York                 206
Nebraska                 204
Tennessee                202
Mississippi              202
Pennsylvania             201
Louisiana                197
Vermont                  193
Iowa                     177
Illinois                 177
Missouri                 168
Kansas                   166
Nevada                   164
Massachusetts            163
Maine                    153
Maryland                 151
South Dakota             146
Connecticut              132
Virginia                 129
Wisconsin                114
District of Columbia     105
South Carolina            99
Delaware                  84
New Jersey                79
Idaho                     31
Name: count, dtype: int64

Variable income_above_limit; NAN - 0

income_above_limit
Below limit    196501
Above limit     12998
Name: count, dtype: int64

## Exploratory Data Analysis.

In [13]:
data.to_parquet(os.path.join(DATA_PATH,'eda.gzip'))